<ng-template [ngIf]="itemId">
    <br /><br />
    <a style="cursor: pointer;" (click)="viewHistory()" data-toggle="modal" data-target="#historyModal">View
        History
    </a>

    <!-- Modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="histories">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Date</th>
                                <th>User</th>
                                <th>History</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of histories; index as i;">
                                    <td>{{toDate(item.createdOn) | date:'medium'}}</td>
                                    <td>{{item.user}}</td>
                                    <td>{{item.log}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info">Load More</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="!itemId">
    <div>
        No data
    </div>
</ng-template>