<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Media Assets</h4>
                        <p class="card-category"> The list of all media assets</p>
                        <p class="card-category">
                            <a [routerLink]="['/media-new']" mat-raised-button type="button" class="btn btn-info">Upload
                                New Media</a>
                            <a [routerLink]="['/media-new']" [queryParams]="{ ai: true}" mat-raised-button type="button"
                                class="btn btn-warning">Generate AI Image</a>
                            <a [routerLink]="['/media-new']" [queryParams]="{ ai: true}" mat-raised-button type="button"
                                class="btn btn-info">External Media +</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Select PlayList
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listData; index as i; first as isFirst">
                                        <td>
                                            <div>
                                                <img *ngIf="!IsVideoAsset(item.type)" [src]="item.assetUrl"
                                                    width="150px" />
                                                <video *ngIf="IsVideoAsset(item.type)" width="320" height="240"
                                                    controls>
                                                    <source [src]="item.assetUrl" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            <div>You can optionally add this media to a playlist</div>
                                            <div>
                                                <select class="form-control">
                                                    <option value="">Select playlist</option>
                                                    <option *ngFor="let pl of playlists" [value]="pl.id">{{pl.name}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-primary">
                                            <a (click)="deleteMedia(item.id)" mat-raised-button type="button"
                                                class="btn btn-danger">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>