<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger primary-bg-color">
                        <h4 class="card-title ">Playlists</h4>
                        <p class="card-category"> The list of all playlists</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listData; index as i; first as isFirst">
                                        <td>
                                            <input [(ngModel)]="item.name" type="text" placeholder="add a name"
                                                [disabled]="!item.editName" class="form-control edit-name" />

                                            <button mat-raised-button type="button" matTooltip="Edit Name"
                                                [matTooltipPosition]="'above'" (click)="item.editName = true"
                                                [hidden]="item.editName"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>

                                            <button (click)="saveItem(item)" mat-raised-button type="button"
                                                [hidden]="!item.editName" matTooltip="Click to save/update name"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-outline-success btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">check_circle</i>
                                            </button>
                                        </td>
                                        <td class="text-primary">
                                            <a [routerLink]="['/playlists', item.id]" mat-raised-button type="button"
                                                class="btn btn-info">
                                                View Details
                                            </a>
                                            <a (click)="deletePlaylist(item.id)" mat-raised-button type="button"
                                                class="btn btn-danger">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input [(ngModel)]="newItem.name" type="text" placeholder="Add new playlist name"
                                                class="form-control" id="addItem" />
                                        </td>
                                        <td>
                                            <a (click)="addNewItem()" class="btn btn-fill btn-warning">Create New Playlist</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>