<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="allowToView">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Details</h3>
                        <p class="card-category">
                            Below is the details
                        </p>
                    </div>
                    <div class="card-body" *ngIf="data">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name" type="text" [(ngModel)]="data.name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="email" [(ngModel)]="data.email">
                        </mat-form-field>

                        <p class="card-category">
                            <br /><br /><br />
                            Save changes you've made to user's detail.
                        </p>
                        <p class="card-category">
                            <a (click)="saveUpdates()" class="btn btn-round btn-fill btn-info">Save Updates</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" *ngIf="data && isAdminUser">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Permissions</h3>
                        <p class="card-category">
                            Click button below to allow partner permission
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="" type="checkbox" id="flexCheckChecked" [(ngModel)]="data.allowedPartnerPermission">
                            <!-- <input type="checkbox" [checked]="data.allowedPartnerPermission" (change)="data.allowedPartnerPermission = !data.allowedPartnerPermission"/> -->
                            <label class="form-check-label" for="flexCheckChecked">
                              Check to allow permission
                            </label>
                          </div>

                        <div>
                            <a (click)="updatePermission()" class="btn btn-round btn-fill btn-warning">Save Permission</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!allowToView">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Forbidden</h3>
                    </div>
                    <div class="card-body">

                        <p class="card-category">You are not allow to view this page. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>