<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">User List</h4>
                      <p class="card-category"> The list of all users</p>
                      <p class="card-category">
                        <a [routerLink]="['/user-create']" mat-raised-button type="button" class="btn btn-info">Create New User</a>
                      </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Role
                                  </th>
                                  <th>
                                      Created Date
                                  </th>
                                  <th>
                                      
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let screen of listData; index as i; first as isFirst">
                                      <td>
                                          {{screen.name}}
                                      </td>
                                      <td>
                                        {{screen.role === 1 ? 'Admin' : 'Editor'}}
                                      </td>
                                      <td>
                                        {{screen.created}}
                                      </td>
                                      <td class="text-primary">
                                          <a [routerLink]="['/user-details', screen.id]" mat-raised-button type="button" class="btn btn-info">
                                            View Details
                                        </a>
                                        <a (click)="deleteUser(screen.id)"mat-raised-button type="button" class="btn btn-danger">
                                            Delete
                                        </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
