<div class="main-content">
  <div class="container-fluid">
      <div class="card" *ngIf="data">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Menu Details</h4>
                      <div class="alert alert-success alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <h4>{{data.name}}</h4>
                          <span data-notify="message">Title: {{data.title}}</span>
                          <span data-notify="message">{{data.description}}</span>
                      </div>
                      <div class="alert alert-primary alert-with-icon" data-notify="container">
                        <ul>
                            <li *ngFor="let item of allItems">{{item.description}}</li>
                        </ul>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Menu items</h4>
                            <p class="card-category">Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-upgrade">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Price</th>
                                            <th class="text-center">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data.menuItems">
                                            <td>{{item.name}}</td>
                                            <td>{{item.title}}</td>
                                            <td>£{{item.price}}</td>
                                            <td class="text-center"><a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" placeholder="add a name" class="lg-text-input" id="addItemName" />
                                            </td>
                                            <td>
                                                <input type="text" placeholder="add a title" class="lg-text-input" id="addItemTitle" />
                                            </td>
                                            <td>
                                                <input type="number" placeholder="add a price" class="lg-text-input" id="addItemPrice" />
                                            </td>
                                            <td class="text-center">
                                                <a target="_blank" href="https:live" class="btn btn-round btn-fill btn-info">Add Item</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DataTables, VectorMap, SweetAlert, Wizard, jQueryValidation, FullCalendar etc...</td>
                                            <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                            <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
      </div>
  </div>
</div>
