<div class="main-content">
    <div class="container-fluid">
        <div class="card" *ngIf="data">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Menu Details</h4>
                                <p class="card-category">Extra menu details of information.</p>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleFormControlInputName">Menu Internal Name</label>
                                    <input type="text" [(ngModel)]="data.name" class="form-control"
                                        id="exampleFormControlInputName" placeholder="menu title">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Menu Display Title</label>
                                    <input type="text" [(ngModel)]="data.title" class="form-control"
                                        id="exampleFormControlInput1" placeholder="menu title">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Menu Currency</label>
                                    <select class="form-control" id="templateSelector"
                                        (change)="onMenuCurrencyChange($event)">
                                        <option>Choose...</option>
                                        <option *ngFor="let item of currencies; index as i;"
                                            [selected]="item == data.currency" value="{{item}}">
                                            {{item}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" [(ngModel)]="data.description"
                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Menu items</h4>
                                <p class="card-category">Are you looking for more components? Please check our Premium
                                    Version of Material Dashboard Angular.</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-upgrade">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Title</th>
                                                <th>Price</th>
                                                <th>Description</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data.menuItems">
                                                <td>
                                                    <input [(ngModel)]="item.name" type="text"
                                                        placeholder="add a name" class="form-control"/>
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="item.title" type="text"
                                                        placeholder="add a title" class="form-control" />
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="item.price" type="text"
                                                        placeholder="add a price" class="form-control" />
                                                </td>
                                                <td>
                                                    <textarea class="form-control" [(ngModel)]="item.description" cols="50" rows="3"></textarea>
                                                </td>
                                                <td class="text-center"><a (click)="deleteMenuItem(item.id)"
                                                        class="btn btn-round btn-fill btn-default">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input [(ngModel)]="itemToAdd.name" type="text"
                                                        placeholder="add a name" class="form-control"
                                                        id="addItemName" />
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="itemToAdd.title" type="text"
                                                        placeholder="add a title" class="form-control"
                                                        id="addItemTitle" />
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="itemToAdd.price" type="text"
                                                        placeholder="add a price" class="form-control"
                                                        id="addItemPrice" />
                                                </td>
                                                <td>
                                                    <input [(ngModel)]="itemToAdd.description" type="text"
                                                        placeholder="add a description" class="form-control"
                                                        id="addItemdescription" />
                                                </td>
                                                <td class="text-center">
                                                    <a (click)="addItemToList()"
                                                        class="btn btn-round btn-fill btn-info">Add Item</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Save changes you've made</h4>
                                <p class="card-category">Click the button below to save all changes you have made to the
                                    menu and its menu items</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-upgrade">
                                    <a (click)="saveMenu()" class="btn btn-fill btn-success">Save
                                        Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>