<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://onscreensync.com/about.htmlus">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://onscreensync.com/faq.html">
                        FAQs
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, All rights reserved.
        </div>
    </div>
</footer>
