<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger primary-bg-color">
                        <h4 class="card-title ">TV Screen Apps</h4>
                        <p class="card-category"> The list of all TV Screen Apps installed on devices on the premises
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Choose Screen
                                    </th>
                                    <th>#</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listData; index as i; first as isFirst">
                                        <td>
                                            <input type="text" [(ngModel)]="item.deviceName" [disabled]="!item.editName" />
                                            <button mat-raised-button type="button" matTooltip="Edit Name"
                                                [matTooltipPosition]="'above'"
                                                (click)="item.editName = true"
                                                [hidden]="item.editName"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button (click)="update(item)" mat-raised-button type="button" 
                                                [hidden]="!item.editName"
                                                matTooltip="Click to save/update name"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-outline-success btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">check_circle</i>
                                            </button>
                                        </td>
                                        <td style="display: inline-flex;">
                                            <select class="form-control" (change)="onScreenChange($event, item.id)">
                                                <option value="">Choose...</option>
                                                <option value="none">None</option>
                                                <option *ngFor="let screen of screens; index as i;"
                                                    [selected]="screen.id == item.screenId" value="{{screen.id}}">
                                                    {{screen.displayName}}
                                                </option>
                                            </select>
                                            
                                            <button (click)="updateDeviceScreen(item.id)" mat-raised-button type="button" 
                                                matTooltip="Set to this screen"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-outline-success btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">check_circle</i>
                                            </button>
                                        </td>
                                        <td>
                                            <button (click)="deleteDevice(item.id)" class="btn btn-danger">Delete
                                                Device</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>