@if (media(); as preview) {
  <div>
    <div class="asset-media" #mediaEle>
      @if (isVideoMedia(preview.type)) {
        <video [src]="preview.assetUrl" autoplay muted loop oncanplay="this.play()"
          onloadedmetadata="this.muted = true" [attr.width]="previewWidth()">
          Your device browser does not support the video tag.
        </video>
      }
      @if (!isVideoMedia(preview.type)) {
        <img [src]="preview.assetUrl" [attr.width]="previewWidth()"  [attr.alt]="dataAlt()" />
      }
    </div>
  </div>
}

@if (!media()) {
  <div>
    No media
  </div>
}
