<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Screen List</h4>
                        <p class="card-category"> The list of all screens</p>
                        <p class="card-category">
                            <a [routerLink]="['/screen-create']" mat-raised-button type="button"
                                class="btn btn-info">Create New Screen</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th>
                                        Preview
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let screen of listData; index as i; first as isFirst">
                                        <td class="text-primary">
                                            <button (click)="goToPreviewSite(screen.id)" mat-raised-button type="button"
                                                matTooltip="Click to preview" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-just-icon">
                                                <i class="material-icons">preview</i>
                                            </button>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/screen-details', screen.id]">
                                                {{screen.displayName}}
                                            </a>
                                        </td>
                                        <td class="text-primary" style="text-align: right;">
                                            <a *ngIf="isAdminUser" (click)="publishScreen(screen.id)" mat-raised-button type="button"
                                                class="btn btn-success">
                                                Publish
                                            </a>
                                            <a *ngIf="isAdminUser" (click)="deleteScreen(screen.id)" mat-raised-button type="button"
                                                class="btn btn-danger">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        
                        <div>
                            <a style="cursor: pointer;" (click)="fetchListData()">Load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>