<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Screen List</h4>
                      <p class="card-category"> The list of all screens</p>
                      <p class="card-category">
                        <a [routerLink]="['/screen-create']" mat-raised-button type="button" class="btn btn-info">Create New Screen</a>
                      </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let screen of listData; index as i; first as isFirst">
                                      <td>
                                        {{screen.displayName}}
                                      </td>
                                      <td class="text-primary" style="text-align: right;">
                                          <a [routerLink]="['/screen-details', screen.id]" mat-raised-button type="button" class="btn btn-info">
                                            View
                                        </a>
                                        <a (click)="publishScreen(screen.id)" mat-raised-button type="button" class="btn btn-success">
                                          Publish
                                      </a>
                                      <a (click)="goToPreviewSite(screen.id)" mat-raised-button type="button" class="btn btn-primary">
                                        Preview
                                    </a>
                                        <a (click)="deleteScreen(screen.id)"mat-raised-button type="button" class="btn btn-danger">
                                            Delete
                                        </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
