<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Display Name</h3>
                        <p class="card-category">Handcrafted by our friend
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <input type="text" class="form-control" id="displayNameInput" placeholder="Username"
                                [(ngModel)]="data.displayName">
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title">Menu</h3>
                        <p class="card-category">Handcrafted by our friend
                        </p>
                    </div>
                    <div class="card-body">

                        <div class="input-group mb-3">
                            <select class="form-control" id="templateSelector" [ngModel]="selectedTemplateKey"
                                (ngModelChange)="onMenuChange($event)">
                                <option>Choose...</option>
                                <option *ngFor="let menu of menus; index as i;"
                                    [selected]="menu.id == data.menuEntityId" value="{{menu.id}}">
                                    {{menu.title}}
                                </option>
                            </select>
                            <div class="input-group-append">
                                <a [routerLink]="['/menu-details', data.menuEntityId]" mat-raised-button type="button"
                                    class="btn btn-info">
                                    View Menu
                                </a>
                            </div>
                        </div>
                        <div>
                            <a [routerLink]="['/menu-create']" mat-raised-button type="button"
                                class="btn btn-primary">Create New Menu</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Media Asset</h3>
                        <p class="card-category">Handcrafted by our friend
                        </p>
                    </div>
                    <div class="card-body">
                        <select class="custom-select" id="templateSelector" [ngModel]="selectedTemplateKey"
                            (ngModelChange)="onMenuChange($event)">
                            <option>Choose...</option>
                            <option *ngFor="let media of mediaAssets; index as i;"
                                [selected]="media.id == data.mediaAssetEntityId" value="{{media.id}}">
                                {{media.name}}
                            </option>
                        </select>
                        <div class="input-group-prepend" *ngIf="data.mediaAssetEntityId">
                            <a [routerLink]="['/media-details', data.mediaAssetEntityId]" mat-raised-button
                                type="button" class="btn btn-info">
                                View Media
                            </a>
                        </div>
                        <div>
                            <a [routerLink]="['/media-upload']" mat-raised-button type="button"
                                class="btn btn-info">Upload New Media</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">Layout template</h3>
                        <p class="card-category">Handcrafted by our friend
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3 text-info">
                            <select class="custom-select" id="templateSelector" [ngModel]="selectedTemplateKey"
                                (ngModelChange)="onTemplateChange($event)">
                                <option>Choose...</option>
                                <option *ngFor="let template of templates; index as i;"
                                    [selected]="template.key == data.templateKey" value="{{template.key}}">
                                    {{template.key}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="data.templateKey">
                            Please add/update these values for the layout fields
                            <div class="input-group mb-3" *ngFor="let prop of data.templateProperties">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">{{prop.label}}</span>
                                </div>
                                <input [(ngModel)]="prop.value" type="text" class="form-control" placeholder="Add Value"
                                    aria-label="add value" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">Save Changes</h3>
                    </div>
                    <div class="card-body">

                        <p class="card-category">Save changes you've made to screen settings. </p>
                        <p class="card-category">
                            <a (click)="saveScreenUpdates()" class="btn btn-round btn-fill btn-danger">Save Updates</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>