  <div>
    <button class="btn btn-outline-info" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">{{buttonText()}}
    </button>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <input type="text" class="form-control" (keyup)="searchText($event)" placeholder="type to search" />
      @for (med of viewList(); track med.id) {
        <a (click)="onMediaSelect(med.id)"  class="dropdown-item" >
          @if (isVideoMedia(med.type)) {
            <video [src]="med.assetUrl" width="50px">
              Your device browser does not support the video tag.
            </video>
          }
          @if (!isVideoMedia(med.type)) {
            <img [src]="med.assetUrl"  width="50px"  [alt]="med.name" />
          }
          <span style="margin-left: 10px;">{{med.name}}</span>
        </a>
      }
      <div style="text-align: center;"  >
        <span class="load-more-link" (click)="fetchListData()">Load more</span>
      </div>
    </div>
  </div>
