<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Playlists</h4>
                        <p class="card-category"> The list of all playlists</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listData; index as i; first as isFirst">
                                        <td>
                                            <input [(ngModel)]="item.name" type="text"
                                                placeholder="add a name" class="form-control" />
                                        </td>
                                        <td class="text-primary">                                            
                                            <a (click)="saveItem(item)" mat-raised-button
                                                type="button" class="btn btn-success">
                                                Save
                                            </a>
                                            <a [routerLink]="['/playlists', item.id]" mat-raised-button
                                                type="button" class="btn btn-info">
                                                View Details
                                            </a>
                                            <a (click)="deletePlaylist(item.id)" mat-raised-button type="button"
                                                class="btn btn-danger">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <input [(ngModel)]="newItem.name" type="text"
                                                placeholder="add a name" class="form-control"
                                                id="addItem" />
                                        </td>
                                        <td>
                                            <a (click)="addNewItem()"
                                                class="btn btn-fill btn-warning">Create New</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>